<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Messaging Test", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@ViewBag.HomeActive">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@ViewBag.MessagingActive">@Html.ActionLink("Messaging", "Join", "Messaging")</li>
                    <li class="@ViewBag.AboutActive">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="@ViewBag.ContactActive">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>



                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bryan C. Jones</p>
        </footer>
    </div>

    <div class="footer">
        <div class="container">
            @if (Request.IsAuthenticated)
            {
                <span class="text-muted" data-bind="text: statusText, css: { 'text-warning': unreadCount() > 0 }" ></span>
            }
            else
            {
                <span>Not Logged In</span>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    <script src="signalr/hubs"></script>
    @if (Request.IsAuthenticated && ViewBag.MessagingActive != "active")
    { 
    <script src="~/Scripts/ViewModels/LayoutViewModel.js"></script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>
